:root {
    --primary-bg-color: #fff5ec;
    --secondary-bg-color: #fe033c;
    --third-bg-color: #ffedde;

    --primary-font-color: #2e266f;
    --secondary-font-color: #ffffff;
    --thirfd-font-color: #fe033c;

    --box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-bg-color);
    margin: 0;
}

header {
    margin: 0 auto;
    width: 930px;
}

main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo {
    color: var(--thirfd-font-color);
    font-size: 40px;
}

button{
    font-family: 'Montserrat', sans-serif;
    color: #2e266f;
    font-size: 1.3em;
    font-weight:  900;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--secondary-bg-color);
    padding: 10px 40px;
    cursor: pointer;
}

button:hover{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    transition: .5s;
}

.active{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
    display: flex;
    gap: 15px;
}

.feature-image{
    position: relative;

}

.feature-image img{
    width: 600px;
    height: 318px;
    border-radius: 8px;
}

.image-label {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    bottom: 45px;
    left: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options div{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    font-size: 34px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.options div span{
    font-weight: 400;
    font-size: 20px;
}

.selection {
    margin: 20px 0 20px 0;
    width: 100%;
    background-color: var(--third-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px;
}

.selection-options{
    display: flex;
    gap: 15px;
}

.option{
    width: 218px;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.option-details{
    font-size: 20px;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px;
}

.option img{
    height: 150px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.option-details span{
    font-weight: 400;
    color: var(--thirfd-font-color);
}

.feature-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 900px;
    display: flex; 
    margin-top: 15px;
    align-items: center;
    font-size: 21px;
    box-shadow: var(--box-shadow);
}

.feature-item img {
    width: 300px;
    height: 230px;
    object-fit: cover;
}

.feature-header{
    font-weight: 700;
}

.feature-description{
    padding: 10px 80px 10px 0;
}

.more-btn{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
}

.specialties{
    margin: 10px 0 20px 0;
    width: 930px;
    display: flex;
    flex-direction: column;
}

.specialties-title {
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.specialties-title::before{
    content: "";
    display: block;
    width: 350px;
    height: 3px;
    background: var(--secondary-bg-color);
    left: 0;
    top: 50%;
    position: absolute;
}

.specialties-title:after {
    content: "";
    display: block;
    width: 350px;
    height: 3px;
    background:  var(--secondary-bg-color);
    right: 0;
    top: 50%;
    position: absolute;
  }

  .specialties-images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
  }

  .specialties-images img{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
  }

  footer{
    background-color: var(--third-bg-color);
    color: var(--primary-font-color);
    font-size: 18px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  